body{
    margin: auto;
    background-color: #090909;
    color: white;
}

/* Header CSS */

#header{
    background-color: #131416;
    text-align: center;
    width: 100%;
}

#title_name{
    color: red;
    width: 360px;
    display: inline;
    font-size: 45px;
}

.register{
    position: relative;
    left: 39%;
    bottom: 13px;
}


/* Search CSS */

#search{
    height: 450px;
    text-align: center;
    background-image: url(/images/sl_121019_25870_93.jpg);
    background-size: 100% 450px;
    background-repeat: no-repeat;
}

#anime_title{
    color:#893164;
    text-align: center;
    font-size: 250px;
    margin-left: 200px;
    display: flex;
    gap: 10px;
}

.anime_letter{
    display: inline-block;
    animation: wave_effect 1s ease-in-out infinite forwards; 
}

.anime_letter:nth-child(1){
    animation-delay: 0s;
}

.anime_letter:nth-child(2){
    animation-delay: 0.2s;
}

.anime_letter:nth-child(3){
    animation-delay: 0.4s;
}

.anime_letter:nth-child(4){
    animation-delay: 0.6s;
}

.anime_letter:nth-child(5){
    animation-delay: 0.8s;
}

.anime_letter:nth-child(6){
    animation-delay: 1.0s;
}

.anime_letter:nth-child(7){
    animation-delay: 1.2s;
}

.anime_letter:nth-child(8){
    animation-delay: 1.4s;
}

@keyframes wave_effect {
    0%, 100%{
        transform: translateY(0em);
    }

    50%{
        transform: translateY(-0.2em);
    }
}

#language{
    width: 25%;
    height: 45px;
    text-align: center;
    font-size: large;
}

#genre{
    width: 25%;
    height: 45px;
    text-align: center;
    font-size: large;
}

option{
    text-align: center;
}

/*  Recommendation CSS */
.recommendation{
    display: flex;
    flex-wrap: wrap;
}

/* Footer CSS */

#footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #c3c4c8;
}

.footer_element{
    display:inline-block;
}

.footer_element>p>a{
    text-decoration: none;
    color: black;
}

#contact{
    padding-top: 9px;
    padding-right: 420px;
}

